/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 #extr-page #header {
    background:#2D2E74!important;
}
#extr-page-header-space>:first-child {
    color: #ffffff;
}
.btn-danger {
    color:#2D2E74;
    background-color: #ffffff;
    border-color: #2c699d;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:active:active, .btn-danger:focus {
    color: #fff;
    background-color: #009F43;
    border-color: #2c699d;
}
.client-form header {
    color: white;
    background:#2D2E74;
}
.smart-form footer {
    color:#2D2E74;
    background:#2D2E74;
}
.btn-primary {
    color:#2D2E74;
    font-weight: bold;
    background-color: white;
    border-color: #2c699d;
}
#extr-page #header #logo img {
    width: 100px;
    background-size: cover;
}
#extr-page #header #logo {
    margin-top: 5px;
    margin-left: 0;
}
.btn, a:link, button {
    -webkit-tap-highlight-color: #285b86;
}
#extr-page .hero {
    background-image: url(/img/login-register-image.png);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: center;
    margin: 0px 0px 20px 0px;
    height: 450px;
    width: 100%;
    float: left;

}
#extr-page .hero p{
    text-align: center;
    
}
#extr-page .hero p img{
    height: 400px;
    width: 80%;
}
.txt-color-red {
    color: #2D2E74!important;
}
.btn-primary.active, .btn-primary:active, .btn-primary:active:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #009F43;
    border-color: #1f496d;
}
.btn-primary-landingpage {
    border: 3px solid #22262e;
    font-weight: bold;
    background-color: transparent;
    color: #22262e;
}
.btn-primary-landingpage:hover, .open>.dropdown-toggle.btn-primary-landingpage {
    color: #22262e;
    background-color: #fff;
    border-color: #22262e;
}
.btn-primary-landingpage.active, .btn-primary-landingpage:active, .btn-primary-landingpage:active:active {
    color: #22262e;
    background-color: #009F43;
    border-color: #22262e;
}
#mainLandingPage{
    padding: 0;
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;
    background: url(/img/dunordcafelandingpage.png);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    color: #22262e;
    
}
#contentLandingPage{
    text-align: center;
    padding: 11%;
}
#h1LandingPage{
    font-weight: 700;
    font-size: 5em;
    font-family: Lato;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#h3LandingPage{
    font-family: Lato;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#hrLandingPage{
    width: 670px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#logo-group2>span {
    background-image: url(/img/Asset\ 4.png);
    background-repeat: no-repeat;
    background-size: 37%;
    height: 39px;
    float: left;
}
#logo2 {
    width: 175px;
    margin-top: 5px;
    margin-bottom: 5px;
}
